/* General */
/*---------------------------------------------------------------*/

/* Style all the page content */
body {
    /*background: #699ef4;*/
    background-image: url("https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    font-family: Robato,sans-serif;
}

.clear {
    clear: both;
}

.remove-anchor-style {
    color: black;
}
/* Remove the underline of all anchor tags */
a {
    text-decoration: none;
}

/*---------------------------------------------------------------*/


/* Header */
/*---------------------------------------------------------------*/

/* Style the header: the title and the date */
header {
    /*background-color: #4b59d4;*/
    background-color: #8e684e;
    width: 22%;
    box-shadow: 5px 5px;
    border-radius: 8px;
    margin-left: 15px;
    border: 2px solid white;
}

/* Style the page title header specifically */
.title {
    font-size: 175%;
    margin-top: 15px;
    margin-left: 15px;
    /* background-color: white; */
}

/* Style the page date header specifically */
.date {
    font-size: 140%;
    margin: -10px 0px 20px 15px;
    /*background-color: white; */
}

/*---------------------------------------------------------------*/

/* Navigation buttons */
/*---------------------------------------------------------------*/

/* Add a title to the <nav> section */
nav:before {
    content: "Navigation";
    font-size: 150%;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 15px;
    display: block;
}

/* Format the <nav> to look like the <article>s */
nav {
    background-color: #8e684e;
    border: 2px solid white;
    box-shadow: 5px 5px;
    border-radius: 8px;
    margin: 15px 15px 25px 15px;
    width: 60%;
    height: 280px;
    padding-bottom: 15px;
}

/* Format the columns of the <nav> */
/* Select all elements  that have an id value starting with "column" */
/*#column1, #column2, #column3, #column4, #column5 {*/
[id^="column"] {
    margin-top: 10px;
    margin-left: 60px;
    float: left;
}

/* Adjust the first column's left margin */
#column1 {
    margin-left: 40px;
}

/* Adjust the <nav>'s <p>s to make them look like the
    ones from the <article>s */
nav p {
    background-color: #c9c9c9;
    border: 1px solid white;
    font-size: 115%;
    margin: 10px;
    width: 100%;
    padding: 5px;
}

/*---------------------------------------------------------------*/


/* News-section specific */
/*---------------------------------------------------------------*/

/* Before each div of news that doesn't have a "page-header" class,
    add the source (name) of those news */
article:before {
    content: attr(id);
    font-size: 150%;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 15px;
}

/* Style each <div> of news that doesn't have a "page-header" class */
article {
    /* background: linear-gradient(135deg, #091dd1, #0d0083); */
    background-color: #8e684e;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px;
    margin: 15px;
    width: 60%;
    padding: 15px 0px 7px 0px;
}

/* Style each news title, which are list items with no bullet */
li {
    background-color: #c9c9c9;
    border: 1px solid white;
    font-size: 115%;
    margin: 10px;
    width: 85%;
    padding: 5px;
    box-shadow: 2px 2px black;
    border-radius: 5px;
}

/* Specifically style the xkcd <article> due to the different title */
#xkcd:before {
    content: attr(id) " - " attr(title);
    font-size: 150%;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 15px;
}

/* Style the xkcd image */
#xkcd img {
    margin: 16px 0px 16px 10px;
    transform: scale(0.8, 0.8);
}

.top-anchor {
    background-color: #c9c9c9;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    width: 6%;
    padding: 7px;
    text-align: center;
    float: right;
    position: relative;
    top: -4em;
    left: -25em;
}

/*---------------------------------------------------------------